.wraaper {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.wraaper:hover {
  background-color: rgba(0, 0, 0, 0);
}
.newBeige {
  position: absolute;
  background-color: red;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  top: 10px;
  right: 10px;
  z-index: 100;
}
.titleWraaper {
  position: absolute;
  bottom: 30px;
  width: 80%;
  margin-left: 50px;
  color: white;
  display: flex;
  flex-direction: column;
}
.titleWraaper > h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
